/*estilos*/
body, html{
    margin: 0;
    padding: 0;
}

#youtube{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'barra_h barra_h'
        'video proximos_videos'
        'descricao proximos_videos'
        'comentario proximos_videos';
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#youtube div{
    padding: 1em;
}

#barra_h{
    grid-area: barra_h;
    height: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
}

#descricao{
    grid-area: descricao;
    background-color: rgb(152, 84, 84);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-area: 
    'titulo titulo titulo'
    'foto_de_perfil inscrito like';
}

#descricao img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: white;
}

#descricao b{
    grid-area: titulo;
    margin-left: auto;
    margin-right: 200px;
    margin-bottom: auto;
    font-size: 17px;
}

.video{
    height: 95%;
    width: 100%;
    grid-area: video;
    background-color: rgb(52, 1, 1);
}

#comentario{
    height: 100%;
    width:100%;
    grid-area: comentario;
    background-color: rgb(182, 29, 90);
}

#proximos_videos{
    grid-area: proximos_videos;
    width: 93%;
    height: 100%;
    background-color: rgb(250, 62, 122);
    margin-left: 30px;
}

#pesquisa{
    margin-left: auto;
    margin-right: 950px;
    border: 1px solid white;
    border-radius: 10%;
    background-color: white;
}

.coment{
    text-align: justify;
    font-size: 21;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: 1px solid black;
}

#menu{
    width: 25px;
    height: 30px;
    margin-left: 5px;
    margin-right: auto;
}

.coment img{
    border-radius: 50%;
    height: 25px;
    width: 30px;
}

#like{
    grid-area: like;
    margin-left: 600px;
    margin-right: auto;
    margin-top: 20px;
}

#icon_dePerfil{
    grid-area: foto_de_perfil;
    margin-top: auto;
    padding: 2em;
    margin-top: auto;
}

#inscrever{
    grid-area: inscrito;
    margin: 30px auto 20px auto;
    border: 1px lightgray;
    border-radius: 35%;
    border-style: groove;
    font-size: 15px;
    padding-bottom: 3px;
}

#inscrever:hover{
    background-color: lightgray;
}