/*estilos*/

#youtube{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'barra_h barra_h'
        'video proximos_videos'
        'descricao proximos_videos'
        'comentario proximos_videos';
    height: 1000px;
    width: 1200px;
    margin: 0 auto;
}

#youtube div{
    padding: 1em;
}

#barra_h{
    grid-area: barra_h;
    height: 10px;
    width: 100%;
    text-align: center;

}

#descricao{
    grid-area: descricao;
    
}

.video{
    height: 100%;
    width: 50%;
    grid-area: video;
    
}

#comentario{
    height: 100%;
    width: 50%;
    grid-area: comentario;
    
}

#proximos_videos{
    grid-area: proximos_videos;
    width: 50%;
    height: 100%;
}

#barra_h img{
    width: 20px;
    height: 20px;
    margin-left: -100%;
    align-self: start;
}

.letras{
    font-size: 17px;
    margin-top: -15px;
    text-align: center;
    box-shadow: 10px rgba(red, green, blue, alpha);
}